<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouCode.GUI</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YouCode.GUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/minstyles.min.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

</head>

<body>
    <!-- component -->
    <nav class=" bg-white w-full flex relative justify-between items-center mx-auto px-8 h-20">
        <!-- logo -->
        <div class="inline-flex">
            <a class="_o6689fn" href="/">
                <div class="hidden md:block">
                    Logo extedible
                </div>
                <div class="block md:hidden">
                    Logo 1x1
                </div>
            </a>
        </div>

        <!-- end logo -->

        <!-- search bar -->
        <div class="hidden sm:block flex-shrink flex-grow-0 justify-start px-2">
            <div class="inline-block">
                <div class="inline-flex items-center max-w-full">
                    <button
                        class="flex items-center flex-grow-0 flex-shrink pl-2 relative w-60 border rounded-full px-1  py-1"
                        type="button">
                        @* <input pla class="block flex-grow flex-shrink overflow-hidden">Start your search</input> *@
                        @* input para buscar, sin bordes, sin outline, ni nada al hacer focus *@
                        <input 
                            type="text" 
                            class="block px-2 flex-grow flex-shrink overflow-hidden w-full border-none outline-none focus:outline-none"  placeholder="Start your search"
                        >
                            
                        <div class="flex items-center justify-center relative  h-8 w-8 rounded-full">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                role="presentation" focusable="false" style="
                                display: block;
                                fill: none;
                                height: 12px;
                                width: 12px;
                                stroke: currentcolor;
                                stroke-width: 5.33333;
                                overflow: visible;
                            ">
                                <g fill="none">
                                    <path
                                        d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
                                    </path>
                                </g>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- end search bar -->

        <!-- login -->
        <div class="flex-initial">
            <div class="flex justify-end items-center relative">

                <div class="flex mr-4 items-center">
                    <a class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full"  href="/">
                        <div class="flex items-center relative cursor-pointer whitespace-nowrap">Feed</div>
                    </a>
                    

                    <div class="block relative">
                        <button type="button" class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full relative ">
                            <div class="flex items-center h-5">
                                <div class="_xpkakx">
                                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        role="presentation" focusable="false"
                                        style="display: block; height: 16px; width: 16px; fill: currentcolor;">
                                        <path
                                            d="m8.002.25a7.77 7.77 0 0 1 7.748 7.776 7.75 7.75 0 0 1 -7.521 7.72l-.246.004a7.75 7.75 0 0 1 -7.73-7.513l-.003-.245a7.75 7.75 0 0 1 7.752-7.742zm1.949 8.5h-3.903c.155 2.897 1.176 5.343 1.886 5.493l.068.007c.68-.002 1.72-2.365 1.932-5.23zm4.255 0h-2.752c-.091 1.96-.53 3.783-1.188 5.076a6.257 6.257 0 0 0 3.905-4.829zm-9.661 0h-2.75a6.257 6.257 0 0 0 3.934 5.075c-.615-1.208-1.036-2.875-1.162-4.686l-.022-.39zm1.188-6.576-.115.046a6.257 6.257 0 0 0 -3.823 5.03h2.75c.085-1.83.471-3.54 1.059-4.81zm2.262-.424c-.702.002-1.784 2.512-1.947 5.5h3.904c-.156-2.903-1.178-5.343-1.892-5.494l-.065-.007zm2.28.432.023.05c.643 1.288 1.069 3.084 1.157 5.018h2.748a6.275 6.275 0 0 0 -3.929-5.068z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="block" id="Boton login">
                    <div class="inline relative">
                        <a id="ButtonLogin" asp-controller="Auth" asp-action="Redirect" hidden>
                            <button type="button"
                                class="inline-flex items-center relative py-2 px-3 border rounded-lg transition-all duration-200 hover:shadow-lg">
                                <span class="text-gray-700 pr-2 font-semibold text-[13px]">Login with</span>
                                <div class="flex flex-grow-0 flex-shrink-0 h-6 w-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" fill="currentColor"
                                        class="w-full h-full">
                                        <img src="/Images/github-mark.svg" alt="GitHub" class="w-full h-full">
                                    </svg>
                                </div>
                            </button> 
                        </a>

                        <a id="ButtonProfile" asp-controller="User" asp-action="Profile" asp-route-username="@ViewBag.Username" hidden>
                            <button type="button"
                                class="inline-flex items-center relative py-2 px-3 border rounded-lg transition-all duration-200 hover:shadow-lg">
                                <span class="text-gray-700 pr-2 font-semibold text-[13px]">Perfil</span>
                                <div class="flex flex-grow-0 flex-shrink-0 h-6 w-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" fill="currentColor"
                                        class="w-full h-full">
                                        <img src="/Images/profile.svg" alt="Profile" class="w-full h-full">
                                    </svg>
                                </div>
                            </button> 
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </nav>

        <main role="main" class="pb-3">

            @RenderBody()
        </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - YouCode.GUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Casí todos los derechos reservados</a>
        </div>
    </footer> *@

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/flowbite.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
             function checkUserOwner() {
                $.ajax({
                    url: '/api/Auth/ValidateLoggedUser',
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        if (response.currentUsername === null || response.currentUsername === "") {
                            $('#ButtonLogin').show();
                            $('#ButtonProfile').hide();
                        } else {
                            $('#ButtonLogin').hide();
                            $('#ButtonProfile').show();
                            $('#ButtonProfile').attr('href', '/User/Profile/' + response.currentUsername);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
             }
             checkUserOwner();
        });
        
    </script>
    
</body>

</html>

@section Scripts
{
    
}